In [118]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [119]:
# load data
education = pd.read_excel("Education.xls", skiprows=4)
employment = pd.read_excel("Unemployment.xls", \
                           sheet_name="Unemployment Med HH Income", skiprows=7)
population = pd.read_csv("cc-est2017-alldata.csv")
electionResults = pd.read_csv("2016_US_County_Level_Presidential_Results.csv")

In [120]:
### drop columns

# keep FIPS code and % of adults with bachelor's degree 
education.drop(education.columns.difference(["FIPS Code",\
        "Percent of adults completing some college or associate's degree, 2014-18"]), 1, inplace=True)
education.rename(columns={"FIPS Code" : "FIPS"}, inplace=True)

# keep FIPS code and median household income 2018
employment.drop(employment.columns.difference(["FIPStxt", "Median_Household_Income_2018"]), 1, inplace=True)
employment.rename(columns={'FIPStxt' : 'FIPS'}, inplace=True)

# keep FIPS 2015 population
population.drop(population.columns.difference(["COUNTY", "TOT_POP"]), 1, inplace=True)
# sum all the populations for each of the counties to get total population per county
population['Population'] = population.groupby(['COUNTY'])['TOT_POP'].transform('sum')
population = population.drop_duplicates(subset=['COUNTY'])
population.drop(['TOT_POP'], 1, inplace=True)
population.rename(columns={'COUNTY' : 'FIPS'}, inplace=True)
# set FIPS to same values 
population['FIPS'] = population['FIPS'] + 1000

# drop USA from the data
education.drop(education.head(1).index, inplace=True)
employment.drop(employment.head(1).index, inplace=True)

In [121]:
# examine data
education.head()

,FIPS,"Percent of adults completing some college or associate's degree, 2014-18"
1,1000,29.9
2,1001,28.4
3,1003,31.3
4,1005,25.1
5,1007,24.4

In [122]:
employment.head()

   FIPS  Median_Household_Income_2018
1  1000                       49881.0
2  1001                       59338.0
3  1003                       57588.0
4  1005                       34382.0
5  1007                       46064.0

In [123]:
population.head()

     FIPS  Population
0    1001   151603388
190  1003   194023888
380  1005   137749966
570  1007    68517048
760  1009    83931864

In [124]:
electionResults.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
0,0,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013
1,1,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016
2,2,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020
3,3,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050
4,4,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060