In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [116]:
# load data
education = pd.read_excel("Education.xls", skiprows=4)
employment = pd.read_excel("Unemployment.xls", \
                           sheetname="Unemployment Med HH Income", skiprows=7)
population = pd.read_csv("cc-est2017-alldata.csv")
electionResults = pd.read_csv("2016_US_County_Level_Presidential_Results.csv")

In [117]:
population.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,WA_MALE,WA_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,21295,22002
1,50,1,1,Alabama,Autauga County,1,1,3579,1411,1316
2,50,1,1,Alabama,Autauga County,1,2,3991,1521,1526
3,50,1,1,Alabama,Autauga County,1,3,4290,1658,1620
4,50,1,1,Alabama,Autauga County,1,4,4290,1628,1585

In [118]:
# drop columns

# keep FIPS code and % of adults with bachelor's degree 
education.drop(education.columns.difference(["FIPS Code",\
        "Percent of adults completing some college or associate's degree, 2014-18"]), 1, inplace=True)

# keep FIPS code and median household income 2018
employment.drop(employment.columns.difference(["FIPStxt", "Median_Household_Income_2018"]), 1, inplace=True)

# keep FIPS 2015 population
population.drop(population.columns.difference(["COUNTY", "TOT_POP"]), 1, inplace=True)
# sum all the populations for each of the counties to get total population per county
population['Population'] = population.groupby(['COUNTY'])['TOT_POP'].transform('sum')
population = population.drop_duplicates(subset=['COUNTY'])
population.drop(['TOT_POP'], 1, inplace=True)

In [119]:
# examine data

population.head()

     COUNTY  Population
0         1   151603388
190       3   194023888
380       5   137749966
570       7    68517048
760       9    83931864