In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [6]:
# load data
education = pd.read_excel("Education.xls", skiprows=4)
employment = pd.read_excel("Unemployment.xls", \
                           sheetname="Unemployment Med HH Income", skiprows=7)
population = pd.read_csv("cc-est2017-alldata.csv")
electionResults = pd.read_csv("2016_US_County_Level_Presidential_Results.csv")

In [7]:
### drop columns

# keep FIPS code and % of adults with bachelor's degree 
education.drop(education.columns.difference(["FIPS Code",\
        "Percent of adults completing some college or associate's degree, 2014-18"]), 1, inplace=True)

# keep FIPS code and median household income 2018
employment.drop(employment.columns.difference(["FIPStxt", "Median_Household_Income_2018"]), 1, inplace=True)

# keep FIPS 2015 population
population.drop(population.columns.difference(["COUNTY", "TOT_POP"]), 1, inplace=True)
# sum all the populations for each of the counties to get total population per county
population['Population'] = population.groupby(['COUNTY'])['TOT_POP'].transform('sum')
population = population.drop_duplicates(subset=['COUNTY'])
population.drop(['TOT_POP'], 1, inplace=True)

In [9]:
# examine data
education.sample()

,FIPS Code,"Percent of adults completing some college or associate's degree, 2014-18"
2022,37179,30.0

In [10]:
employment.sample()

      FIPStxt  Median_Household_Income_2018
2742    48345                       41009.0

In [11]:
population.sample()

        COUNTY  Population
513190     357      208074